


.blue {background-color: aquamarine;}
h1.titulo{color: orange; text-decoration: underline;text-align: center;}


div.div4 {background-color: white; text-align: center;}
p.center {text-align: center; }
p.blue{color: rebeccapurple;}
span.red{color: red;}

